html {
  background-color: #F4ECF7;
}

body {
  background-color: #F4ECF7;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #2ECC71;
}

.site-header .navbar-nav .nav-link {
  color: #808B96;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;

}

.flash-message {
  margin-bottom: 20px;
}

.content-section {
  background-color: #D4EFDF;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.drug-classes {
  background-color: #F9E79F;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.drugs {
  background-color: #EAF2F8;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.sidebar-section {
  background: #FADBD8;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.registration {
  background: #E8DAEF;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.modal-header {
  background-color: #EC7063;
}

.modal-content {
background: #FADBD8;
}

.modal-footer {
background: #F7DC6F;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 55px;
  width: 55px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 100px;
  width: 100px;
}

.account-heading {
  font-size: 1.5rem;
}

.drugclass-heading {
  font-size: 2.5rem;
}

.text-secondary {
  font-size: 0.8rem;
  }



