{% extends "layout.html" %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
        <div class="registration">
            <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add New Drug</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label-sm") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.drug_class.label(class="form-control-label-sm") }}
                    {% if form.drug_class.errors %}
                        {{ form.drug_class(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.drug_class.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.drug_class(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.drug_info.label(class="form-control-label-sm") }}
                    {% if form.drug_info.errors %}
                        {{ form.drug_info(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.drug_info.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.drug_info(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.recent_drug(class="form-check-input") }}
                    {{ form.recent_drug.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn-sm btn-outline-success") }}
            </div>
        </form>
    </div>
    </div>
  </div>
 </main>


 {% endblock content %}